#logo i{
    margin: 0em .15em ;
}

#main{
    display: flex;
    width:  max-content;
    justify-content: center;
    flex-direction: row;
}

#main-section{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form{
    width:  50em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#form::after{
    margin: .5em 2em;
}
#form button{
    width: 10em;
}


.card{
    margin: 2vw;
    min-width: 20em;
    width: 20em;
    height: 20em;
    min-height: 15em;
    box-shadow: -5px  5px 5px  grey;
    border-right: solid;
    border-right-color: grey;
    border-top: solid;
    border-top-color: grey;
    text-align: center;
    border-radius: 5%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.card figure {
    height: 75%;
}

.card figure img{
    width: 15em;
    height: 10em;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
}

.centered{
    text-align: center;
}

.selected-card{
    margin: 2vw;
    min-width: 20em;
    width: 20em;
    height: fit-content !important;
    min-height: 15em;
    box-shadow: -5px  5px 5px  grey;
    border-right: solid;
    border-right-color: grey;
    border-top: solid;
    border-top-color: grey;
    text-align: center;
    border-radius: 5%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}  

.selected-card img{
    width: 15em !important;
    height: 10em !important;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
}

#selected-card div {
    margin: 0 auto;
}

#image-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.char-icon{
    width: 7em;
    height: 7em !important;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
}

.button{
    margin:.5em;
}

.modal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-content{
    width: max-content !important;
    margin: 0% 50% 0% 50%;
    overflow: visible;
}

#profile-header{
    width: 100vw
}
