#logo i{
    margin: 0em .15em ;
}

#main{
    display: flex;
    width:  max-content;
    justify-content: center;
    flex-direction: row;
}

#main-section{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form{
    width:  50em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form input{

    margin: .5em 2em;
}
#form button{
    width: 10em;
}


.card{
    margin: 2vw;
    min-width: 8em;
    box-shadow: -5px  5px 5px  grey;
    border-right: solid;
    border-right-color: grey;
    border-top: solid;
    border-top-color: grey;
    text-align: center;
    border-radius: 5%;
    padding: 1em;
}

.centered{
    text-align: center;
}

.selected-card{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}  

.selected-card img{
    /* width: 50% !important; */
}

#selected-card div {
    margin: 1%;
}

.button{
    margin:.5em;
}

.modal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-content{
    width: max-content !important;
    margin: 0% 50% 0% 50%;
    overflow: visible;
}
