#profile-info{
    border-style: solid;
    border-color: gray;
    margin: .5em;
    border-width: 1px;
}
.menu{
    height: 100%;
    width: auto;
    position: fixed;
}

#premadeAvatar{

    max-width: 10em;
}

.card{
    margin: 1em;
    max-width: 20em;

    width: 7em;
    height: 7em;
}

#main-container{
    width: 75%;

}

.card{
    margin: .5em;
    width: 20em;

    text-align: center;
}

#char-columns{
    display: grid;

    grid: auto-flow dense/ 1fr 1fr 1fr

    justify-content: center;
    justify-items: center;
    grid: auto-flow dense/ repeat(3, 1fr);
}

.section{
    justify-content: center;

}
