#profile-info{
    border-style: solid;
    border-color: gray;
    margin: .5em;
    border-width: 1px;
}
.menu{
    height: 100%;
    width: auto;
    position: fixed;
}

.hero{
    text-align: center;
}

#characterCreationForm{
    display:flex;
    justify-content: center;
}
#characterCreationForm input{
    width: 20em;
}
#creatorCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

#characterCreationForm > div{
    margin-left:1em;
}

#premadeAvatar{

    max-width: 10em;
}

.card{
    margin: 1em;
    max-width: 20em;

    width: 7em;
    height: 7em;
    box-shadow: -5px  5px 5px  grey;
    border-right: solid;
    border-right-color: grey;
    border-top: solid;
    border-top-color: grey;
}

.modal .modal-content{
    display:flex;
    justify-content:center;
}

.modal .modal-content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#main-container{
    width: 80%; 
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
}

#char-columns{
    width: 100%;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
}

.card{
    margin: .5em;
    width: 20em;

    text-align: center;
    border-radius: 5%;
    padding: 1em;
}

#char-columns{
    display: grid;

    grid: auto-flow dense/ 1fr 1fr 1fr

    justify-content: center;
    justify-items: center;
    grid: auto-flow dense/ repeat(3, 1fr);

.button{
    margin:.5em;

}
.section{

    justify-content: center;

}

    display: flex;
    justify-content: flex-end; 
}

body{
    align-content: center;
}


