#profile-info{
    border-style: solid;
    border-color: gray;
    margin: .5em;
    border-width: 1px;
}

#navbar-avatar{
    width: 7em;
    height: 7em;
    margin: 1em;
}

#date-card{
    width: 80%;
}

#date-card img{
    width: 10em;
    height: 10em;
    margin: 1em;
}


.menu{
    width: 10em;
    margin-top: 10em;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    position: fixed;
}

body > div.nav-left.nav-menu.menu > ul{
    margin-left: 1em;
}

.hero{
    text-align: center;
}

#characterCreationForm{
    width: 80%;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
}
#creatorCard{
    width: 80%;
    height: 100em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#characterCreationForm >div{
    margin: 1em;
}

#characterCreationForm > label{
    height: 1em;
    margin:1em;
}

#premadeAvatar{
    max-width: 10em;
}

.card{
    margin: 1em;
    max-width: 20em;
    width: 7em;
    box-shadow: -5px  5px 5px  grey;
    border-right: solid;
    border-right-color: grey;
    border-top: solid;
    border-top-color: grey;
}

.modal .modal-content{
    display:flex;
    justify-content:center;
}

.modal .modal-content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#main-container{
    width: 80%; 
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
}

#char-columns{
    width: 100%;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
}

.card{
    margin: .5em;
    width: 20em;
    text-align: center;
    border-radius: 5%;
    padding: 1em;
}

#char-columns{
    display: grid;
    justify-items: center;
    grid: auto-flow dense/ repeat(3, 1fr);
}

.button{
    margin:.5em;
}
#main-section{
    display: flex;
    justify-content: flex-end; 
    height: 100%;
}

#genderDiv{
    width: 40%;
    height: auto;
}

#genderDiv > div > div { 
    display: inline-block;
    justify-content: center;
    padding: .25em;
}

#genderDiv > div > div > input{
    padding: 1em;
}

#gender {
    margin: .5em;
}

#genderDiv > div > div > label{
    padding: .1em;
}

#orientationDiv{
    width: 40%;
    height: auto;
}

#orientationDiv > div > div { 
    display: inline-block;
    justify-content: center;
    padding: .25em;
}

#orientationDiv > div > div > input{
    padding: .1em;
}

#orientationDiv > div > div > label{
    padding: .1em;
}


body{
    align-content: center;
}
